body {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.home-page {
  background-color: #525661;
}

.title,
.subtitle {
  text-align: right;
  margin-right: 3%;
}

.title {
  font-size: 200%;
}

.titles {
  margin-top: 5%;
  margin-bottom: 5%;
}

.images {
  padding: 0;
}

.panda1 {
  width: 100%;
  height: 500px;
}

.container-about-pandas {
  background-color: #229963;
  border-top: 25px solid #525661;
  border-bottom: 25px solid #525661;
}

.text-about-pandas {
  margin: 8% 0% 8% 24%;
  background-color: #525661;
  padding: 3%;
}

.title2 {
  text-align: center;
  padding: 4% 0% 5% 0%;
}

.paragraph-about-pandas {
  text-align: center;
}

.images2 {
  padding: 0;
} 

.panda2 {
  width: 100%;
  height: 650px;
}

.container-small-pictures {
  background-color: #229963;  
  border-top: 25px solid #525661;
  border-bottom: 25px solid #525661;
}

.title3 {
  text-align: center;
  font-size: 200%;
  padding: 5% 0% 1% 0%;
}

.images3 {
  margin-left: 18.5%;
  padding-bottom: 6%;
}

.panda3,
.panda4,
.panda5,
.panda6 {
  border: 10px solid white;
  margin: 2.5%;
}

.images4 {
  padding: 0;
}

.panda7 {
  width: 100%;
  height: 700px;
}

.container-last-paragraph {
  background-color: #525661;
}

.last-paragraph {
  text-align: right;
  margin: 2% 1.5% 1% 0%;
  font-size: 120%;
}